*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(187, 187, 245);
}
.container{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.User-data{
    text-align: center;
    width: 30vw;
    height: 100vh;
    margin-block-start: 30%;
    background-color: rgb(148, 189, 197);
    border-radius: 10px;
}

.User-data img{
    border-radius:50%;
}
.User-data h1{
    font-size: 3em;
    border-top:2px solid #fff;
    opacity:.8;
    text-align: left;
    padding: 0 15px;
    margin-top:10px;
}

.User-data p{
    font-size: 1.5em;
    text-align: left;
    margin-top:5px;
    padding: 0 25px;
    color:white
}
.btn{
    border: 1px solid rgb(85, 85, 178);
    outline:none;
    height: 50px;
    width: 300px;
    font-size: 1.4em;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;

}
.btn-container{
    width: 20%;
    margin: 0 auto;
}

.randomUserGenerator{
    position: absolute;
    top: 90%;
    left: 44%;
}

.randomUserGenerator li{
    list-style: none;
}
.randomUserGenerator li a{
    text-decoration: none;
    color: #333;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(85, 85, 178);
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #fff;
}